<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>  
    <script type="text/javascript">
    	var login_page = "192.168.1.1/login_auth"
    </script>>
</head>  
<body>  
    <div id="login_auth">  
        <h1>Login</h1>  
        <a href="vifi://vifi.app?url=192.168.0.1/login_auth">Open the vifi app</a>
<!--         <form action='/login_auth/' method="post"> {% csrf_token %} 
            <input type="password" required="required" placeholder="密码" name="passwd"></input>  
            <button class="but" type="submit">登录</button>  
        </form>   -->
    </div>  
</body>  
</html>  